<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.healpio.mapper.BoardMapper">

	
	<select id="getList" resultType="com.healpio.vo.BoardScrapVO">
		<![CDATA[
    		SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						select c.class_title, m.nickname, e.exercise_name, l.PROVINCE, l.CITY, l.DISTRICT, a.uuid, m.teacheryn, c.class_no
                        from class c, member m, exercise e, location l, attach a
                            where c.class_no = l.class_no
                            and m.member_no = c.member_no
                            and e.exercise_no = c.exercise_no
                            and c.class_no = a.class_no
		]]>
						<include refid="location"></include>
						<include refid="criteria"></include>
						ORDER BY c.class_no DESC 
						) A
				)
		 WHERE RN BETWEEN #{startNo} AND #{endNo} 
	</select>


	<select id="exerciseList" resultType="com.healpio.vo.ExerciseVO">
	
	select * from exercise
	
	</select>

	<select id="provinceList" resultType="com.healpio.vo.LocationVO">
	
	select distinct province from location
	
	</select>
	
		<select id="locationList" resultType="com.healpio.vo.LocationVO">
	
	select * from location
	
	</select>
	
	
	<select id="getTotalCnt" resultType="int">
		<![CDATA[
    		SELECT count(*) 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						select c.class_title, m.nickname, e.exercise_name, l.PROVINCE, l.CITY, l.DISTRICT, a.uuid, m.teacheryn, c.class_no
                        from class c, member m, exercise e, location l, attach a
                            where c.class_no = l.class_no
                            and m.member_no = c.member_no
                            and e.exercise_no = c.exercise_no
                            and c.class_no = a.class_no

		]]>
						<include refid="location"></include>
						<include refid="criteria"></include>
						ORDER BY c.class_no DESC 
						) A
				)
	</select>


	<sql id="criteria">
		<choose>
			<when test="searchField == 'c.class_title' and searchWord != null">
				and c.class_title like '%'||#{searchWord}||'%'
			</when>
			<when test="searchField == 'm.nickname' and searchWord != null">
				and m.nickname like '%'||#{searchWord}||'%'
			</when>
		</choose>
		
		<choose>
			<when test="exercise_name != null and exercise_name != ''">
				and e.exercise_name like '%'||#{exercise_name}||'%'
			</when>
		</choose>

	</sql>
	
	
	
	<sql id="location">
		<choose>
   			<when test="city != null and city!= ''">
		      	and city like '%'||#{city}||'%'
		    </when>
			<when test="province != null and province != ''">
		      	and province like '%'||#{province}||'%'
		    </when>
		</choose>
		<choose>
			<when test="district != null and district != ''">
		      	and district like '%'||#{district}||'%'
		    </when>
		</choose>
		
	</sql>
	
	
	
 </mapper>


<!-- 		<choose>
			<when test="province != null and province != ''">
				and province like '%'||#{province}||'%'
			</when>
		</choose>
		
		
				
	<where>
	    <if test="province != null and province != ''">
	      	and province like '%'||#{province}||'%'
	    </if>

 	 </where>
		
		
 -->














