<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.healpio.mapper.BoardMapper">

	<select id="getList" resultType="com.healpio.vo.ClassVO">
		<![CDATA[
    		SELECT * 
		FROM (
			SELECT ROWNUM RN, A.* 
				FROM (
						SELECT b.* 
						FROM class b
                        where class_no > 0
        ]]>
        				<include refid="criteria"></include>
						ORDER BY class_no DESC 
						) A
				)
	WHERE RN BETWEEN #{startNo} AND #{endNo}
	
	</select>

	<select id="exerciseList" resultType="com.healpio.vo.ExerciseVO">
	
	select * from exercise
	
	</select>

	<select id="provinceList" resultType="com.healpio.vo.LocationVO">
	
	select distinct province from location
	
	</select>
	
		<select id="locationList" resultType="com.healpio.vo.LocationVO">
	
	select * from location
	
	</select>
	
	
	<select id="getTotalCnt" resultType="int">
		select count(*) 
		from class
		where 1=1
		<include refid="criteria"></include>
	</select>
	
	<sql id="criteria">
		<choose>
			<when test="searchField == 'class_title'">
				and class_title like '%'||#{searchWord}||'%'
			</when>
			<when test="searchField == 'content'">
				and class_content like '%'||#{searchWord}||'%'
			</when>
		</choose>
	</sql>
	
	
</mapper>


















