<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- mapper의 namespace 속성은 연결할 mapper의 interface를 풀 경로로 작성 -->
<mapper namespace="com.healpio.mapper.ClassMapper">
  <select id="getExerciseList" resultType="com.healpio.vo.ExerciseVO">
  	select * from exercise
  </select>
  
  <insert id="insert">
  	<selectKey keyProperty="class_no" order="BEFORE" resultType="String">
  		select 'C'||lpad(seq_class.nextval, 6, '0') from dual
	</selectKey>
  	insert into class values
  	(#{class_no}, #{member_no}, #{exercise_no}, #{class_title}, #{class_content}, #{class_introduce}, sysdate, #{teacher_content}, #{class_maxcount}, #{class_price})
  </insert>
  
  <select id="getOne" resultType="com.healpio.vo.ClassVO">
  	select class_no, class_title, nickname, exercise_name, class_introduce, class_maxcount, class_content, class_price, teacher_content 
  	from class, member, exercise 
  	where class.member_no = member.member_no and class.exercise_no = exercise.exercise_no and class_no = #{class_no}
  </select>
  
  <update id="update">
  	update class 
  	set exercise_no = #{exercise_no}, class_title = #{class_title}, class_content = #{class_content}, class_introduce = #{class_introduce}, teacher_content = #{teacher_content}, class_maxcount = #{class_maxcount}, class_price = #{class_price} 
  	where class_no = #{class_no}
  </update>
  
  <delete id="delete">
  	delete from class where class_no = #{class_no}
  </delete>
  
  <insert id="scrap">
  	<selectKey keyProperty="scrap_no" order="BEFORE" resultType="String">
  		select 'S'||lpad(seq_class.nextval, 6, '0') from dual
	</selectKey>
  	insert into scrap values 
  	(#{scrap_no}, #{class_no}, #{member_no})
  </insert>
  
  <delete id="cancelScrap">
  	delete from scrap where class_no = #{class_no} and member_no = #{member_no}
  </delete>
  
  <select id="scrapYN" resultType="int">
  	select count(*) from scrap where class_no = #{class_no} and member_no = #{member_no}
  </select>
  
  <delete id="deleteScrap">
  	delete from scrap where class_no = #{class_no}
  </delete>
</mapper>