<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healpio.mapper.MypageMapper">

	<select id="getInfoList" resultType="com.healpio.vo.MemberVO">
		SELECT member_name, nickname, member_pw, phonenumber, email, TEACHERYN
		FROM MEMBER WHERE MEMBER_NO = #{member_no}
	</select>	
	
	
	<update id="myInfoEdit">
		UPDATE member
		SET
		member_name = #{member_name},
		NICKNAME = #{nickname},
		member_pw = #{member_pw},
		phonenumber = #{phonenumber},
		email = #{email}
		WHERE member_no = #{member_no}
	</update>
	

	
	<select id="getScrapList" resultType="com.healpio.vo.ViewScrapVO">
		SELECT M.NICKNAME , C.CLASS_TITLE, E.EXERCISE_NAME,  L.PROVINCE|| ' ' ||L.CITY || ' ' ||L.DISTRICT address, A.uploadpath class_attach
		from SCRAP S
		INNER JOIN CLASS C ON S.CLASS_NO = C.CLASS_NO
		INNER JOIN MEMBER M ON C.MEMBER_NO = M.MEMBER_NO
		INNER JOIN EXERCISE E ON C.EXERCISE_NO = E.EXERCISE_NO
		INNER JOIN LOCATION L ON C.CLASS_NO = L.CLASS_NO
		INNER JOIN ATTACH A ON C.CLASS_NO = A.CLASS_NO
		
		WHERE S.MEMBER_NO = #{member_no}
	</select>
	<resultMap type="com.healpio.vo.ViewScrapVO" id="getScrapList">
        <result property="exercise_name" column="E.EXERCISE_NAME"/>
        <result property="class_title" column="C.CLASS_TITLE"/>
        <result property="nickname" column="M.NICKNAME"/>
        <result property="address" column="address"/>
        <result property="class_attach" column="class_attach"/>
    </resultMap>
    
    <select id="getRegisterList" resultType="com.healpio.vo.ViewScrapVO">
		select M.NICKNAME, C.CLASS_TITLE, E.EXERCISE_NAME, L.PROVINCE|| ' ' ||L.CITY || ' ' ||L.DISTRICT address, A.uploadpath class_attach
		from CLASS C
		INNER JOIN MEMBER M ON C.MEMBER_NO = M.MEMBER_NO
		INNER JOIN EXERCISE E ON C.EXERCISE_NO = E.EXERCISE_NO
		INNER JOIN LOCATION L ON C.CLASS_NO = L.CLASS_NO
		INNER JOIN ATTACH A ON C.CLASS_NO = A.CLASS_NO
		WHERE C.MEMBER_NO = #{member_no}
	</select>
	<resultMap type="com.healpio.vo.ViewScrapVO" id="getResisterList">
        <result property="exercise_name" column="E.EXERCISE_NAME"/>
        <result property="class_title" column="C.CLASS_TITLE"/>
        <result property="nickname" column="M.NICKNAME"/>
        <result property="address" column="address"/>
        <result property="class_attach" column="class_attach"/>
    </resultMap>
	
	<select id="getReservationList" resultType="com.healpio.vo.MyReservationVO" >
    	<![CDATA[
	    	select R.reservation_no, c.class_title, reservation_date, reservation_time
			from class c, reservation R
			WHERE C.class_no = R.class_no
			AND R.MEMBER_NO = #{member_no}
			and to_char(sysdate,'YYYY-MM-DD') <= reservation_date
	 	]]>	
		
		
    </select>
    <resultMap type="com.healpio.vo.MyReservationVO" id="getReservationList">
    	<result property="reservation_no" column="R.reservation_no"/>	
        <result property="class_title" column="c.class_title"/>
        <result property="reservation_date" column="reservation_date"/>
        <result property="reservation_time" column="reservation_time"/>
    </resultMap>	
    
    <select resultType="com.healpio.vo.MyReservationVO" id="resCheckList" >
    <![CDATA[
	    SELECT R.reservation_no, c.class_title, m.nickname, m.phonenumber, reservation_date, reservation_time
		FROM CLASS C
		INNER JOIN RESERVATION R ON C.CLASS_NO = R.CLASS_NO
		INNER JOIN MEMBER M ON R.MEMBER_NO = M.MEMBER_NO
		WHERE C.MEMBER_NO = #{member_no}
		and to_char(sysdate,'YYYY-MM-DD') <= reservation_date
	]]>	
    </select>
    
    <resultMap type="com.healpio.vo.MyReservationVO" id="resCheckList">
    	<result property="reservation_no" column="R.reservation_no"/>	
        <result property="class_title" column="c.class_title"/>
        <result property="nickname" column="m.nickname"/>
        <result property="phonenumber" column="m.phonenumber"/>
        <result property="reservation_date" column="reservation_date"/>
        <result property="reservation_time" column="reservation_time"/>
    </resultMap>
    
    
    <delete id="reservationDelete">
    	DELETE FROM RESERVATION WHERE reservation_no = #{reservation_no}
    </delete>
    
    <select id="getPreviousCourses" resultType="com.healpio.vo.MyReservationVO">
    	<![CDATA[
	    	select R.reservation_no, c.class_title, reservation_date, reservation_time
			from class c, reservation R
			WHERE C.class_no = R.class_no
			AND R.MEMBER_NO = #{member_no}
			and to_char(sysdate,'YYYY-MM-DD') >= reservation_date
        ]]>
    </select>
    
    <resultMap type="com.healpio.vo.MyReservationVO" id="getPreviousCourses">
    	<result property="reservation_no" column="R.reservation_no"/>	
        <result property="class_title" column="c.class_title"/>
        <result property="reservation_date" column="reservation_date"/>
        <result property="reservation_time" column="R.reservation_time"/>
    </resultMap>
    
    <select id="getPreviousBookings" resultType="com.healpio.vo.MyReservationVO">
    	<![CDATA[
	    	SELECT R.reservation_no, c.class_title, m.nickname, m.phonenumber, reservation_date, reservation_time
			FROM CLASS C
			INNER JOIN RESERVATION R ON C.CLASS_NO = R.CLASS_NO
			INNER JOIN MEMBER M ON R.MEMBER_NO = M.MEMBER_NO
			WHERE C.MEMBER_NO = #{member_no}
			and to_char(sysdate,'YYYY-MM-DD') >= reservation_date
        ]]>
    </select>
    
    <resultMap type="com.healpio.vo.MyReservationVO" id="getPreviousBookings">
    	<result property="reservation_no" column="R.reservation_no"/>	
        <result property="class_title" column="c.class_title"/>
        <result property="nickname" column="m.nickname"/>
        <result property="phonenumber" column="m.phonenumber"/>
        <result property="reservation_date" column="reservation_date"/>
        <result property="reservation_time" column="reservation_time"/>
    </resultMap>
    
    <select id='getPassword' resultType="String">
    	select member_pw
		from member
		where member_no= #{member_no}
    </select>
</mapper>