<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healpio.mapper.ReservationMapper">

    <insert id="insert" parameterType="com.healpio.vo.ReservationVO">
	    INSERT INTO RESERVATION
	    (reservation_no, member_no, class_no, reservation_date, reservation_time, reservation_regdate)
	    VALUES
	    (#{reservation_no}, #{member_no}, #{class_no}, #{reservation_date}, #{reservation_time}, SYSDATE)
	</insert>
    
    <select id="getList" resultType="com.healpio.vo.ReservationVO">
    	SELECT * FROM Reservation
	</select>
    
</mapper>
