<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.healpio.mapper.ReservationMapper">

	<insert id="insertReservation" parameterType="com.healpio.vo.ReservationVO">
	    <!-- 예약 번호가 자동으로 생성되는 경우, 이 부분을 추가합니다. -->
	    <selectKey keyProperty="reservation_no" resultType="String" order="BEFORE">
	        SELECT 'R' || LPAD(SEQ_RESERVATION.NEXTVAL, 6, '0') FROM DUAL
	    </selectKey>
	    INSERT INTO reservation 
	        (reservation_no, member_no, class_no, reservation_date, reservation_time, reservation_count, reservation_maxcount)
	    VALUES 
	        (#{reservation_no}, #{member_no}, #{class_no}, #{reservation_date}, #{reservation_time}, #{reservation_count}, #{reservation_maxcount})
	</insert>
	
    <select id="getAllClasses" resultType="com.healpio.vo.ClassVO">
        SELECT * FROM class
    </select>
    
    <select id="getReservation" resultType="com.healpio.vo.ReservationVO">
    	SELECT * FROM reservation WHERE reservation_no = #{reservation_no}
	</select>
	
	<!-- 강의 정보를 가져오기 위한 쿼리 -->
	<select id="getClassDetailsByClassNo" resultType="com.healpio.vo.ClassVO">
	    select class_no, class_title, nickname, exercise_name, class_introduce, class_maxcount, class_content, class_price, teacher_content, member.member_no as member_no
	    from class, member, exercise 
	    where class.member_no = member.member_no 
	    and class.exercise_no = exercise.exercise_no 
	    and class_no = #{class_no}
	</select>
	
	<select id="getReservationByNo" resultType="com.healpio.vo.ReservationVO">
    	SELECT * FROM reservation WHERE reservation_no = #{reservation_no}
	</select>
	
	<select id="getClassDays" resultType="String">
   		SELECT class_day FROM class WHERE class_no = #{class_no}
	</select>
	
	<select id="getClassTimes" resultType="string">
    	SELECT class_time FROM class WHERE class_no = #{class_no}
	</select>
	
	<!-- 해당 클래스에 대한 현재 예약 수와 최대 예약 수를 가져오는 쿼리 &lt; 작다 <,  &gt; > 크다 표현식 -->
	<select id="getMaxReservationCountForClass" resultType="int">
	    SELECT class_maxcount FROM class WHERE class_no = #{class_no}
	</select>
	
	<select id="getReservationCountsByDateAndTimes" resultType="com.healpio.vo.ReservationVO">
	    SELECT reservation_time, SUM(reservation_count) as reservation_count 
	    FROM reservation
	    WHERE class_no = #{class_no} 
	    AND reservation_date = #{reservation_date}
	    GROUP BY reservation_time
	</select>

	
	<update id="increaseReservationCountIfNotMax">
	    UPDATE reservation 
	    SET reservation_count = reservation_count + 1 
	    WHERE class_no = #{class_no}
	    AND reservation_date = #{reservation_date} 
	    AND reservation_time = #{reservation_time}
	    AND reservation_count &lt; reservation_maxcount
	</update>

	
	<update id="decreaseReservationCount">
	    UPDATE reservation 
	    SET reservation_count = CASE WHEN reservation_count > 0 THEN reservation_count - 1 ELSE 0 END 
	    WHERE class_no = #{class_no} 
	    AND reservation_date = #{reservation_date} 
	    AND reservation_time = #{reservation_time}
	    AND reservation_count &gt; 0
	</update>
	
	<select id="getReservationByDetails" resultType="com.healpio.vo.ReservationVO">
	    SELECT * FROM reservation
	    WHERE class_no = #{classNo}
	    AND reservation_date = #{reservation_date}
	    AND reservation_time = #{reservation_time}
	    AND ROWNUM &lt;= 1
	</select>
	

	

	
</mapper>
