<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- mapper의 namespace 속성은 연결할 mapper의 interface를 풀 경로로 작성 -->
<mapper namespace="com.healpio.mapper.ReviewMapper">
  <insert id="insert">
  	<selectKey keyProperty="review_no" order="BEFORE" resultType="String">
  		select 'r'||lpad(seq_class.nextval, 6, '0') from dual
	</selectKey>
  	insert into review 
  	values (#{review_no}, #{member_no}, #{class_no}, sysdate, #{review_content}, #{review_star})
  </insert>
  
  <select id="getList" resultType="com.healpio.vo.ReviewVO">
  	select nickname, review.*
  	from review, member 
  	where review.member_no = member.member_no and class_no = #{class_no}
  	order by review_regdate desc
  </select>
  
  <select id="getAvgScore" resultType="double">
	select nvl(round(avg(review_star),1),0) from review where class_no = #{class_no}
  </select>
  
  <select id="getCount" resultType="int">
  	select count(*) from review where class_no = #{class_no}
  </select>
  
  <select id="getOne" resultType="com.healpio.vo.ReviewVO">
  	select nickname, review.*
  	from review, member 
  	where review.member_no = member.member_no and review_no = #{review_no}
  </select>
  
  <update id="update">
  	update review 
  	set review_content = #{review_content}, review_star = #{review_star} 
  	where review_no = #{review_no}
  </update>
  
  <delete id="delete">
  	delete from review where review_no = #{review_no}
  </delete>
</mapper>