*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    /* background-color: antiquewhite; */
}

.header .nav{
    width: 40%;
    line-height: 100px;
    margin-left: 60px;
    padding: 0px 100px;
    /* background-color: aquamarine; */
}

.header .nav ul{
    display: flex;
    justify-content: space-between;
}

.header .nav ul li{
    padding-top: 20px;
}

.header .nav ul li a{
    font-size: 20px;
    font-weight: bold;
}

.header .headerLogo{
    width: 40%;
    line-height: 120px;
    text-align: center;
    /* background-color: bisque; */
}

.header .user{
    width: 20%;
    /* text-align: right;
    line-height: 100px; */
    padding-top: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}


