    .form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}


.nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-left: 120px;
  margin-top: 50px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  justify-content: space-between;
}

.nav-text{
  width: 35%;
  
}
.message{
  margin-left: 120px;
}

.user{
  margin-left: 20px;
}

#message_btn{
  cursor: pointer;
}

#user_btn{
  cursor: pointer;
}
    