
        body {
        margin: 0;
        padding: 0;
        height: 100vh; 
        display: flex;
        justify-content: center; 
        align-items: center;
        
            overflow: auto;
           
		    scrollbar-width: thin; 
		    scrollbar-color: red green; 
            
        
        }


        .pull{
            border: 1px solid black;
            width: 1200px;
            height: 900px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            


        }

        .image-container{
            max-width: 90%;
            height: auto;
            margin-bottom: 10px;
          
        }

        .img-concert{
            max-width: 90%; 
            height: auto;
            margin-bottom: 10px;
            flex-grow: 1; 
        }

        .header{
            border: 1px solid;
            width: 100%;
            
        }

        .imgs{
            border: 1px solid black;
            height: 80%;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            
		  display: grid;
	  	  grid-template-columns: repeat(3, 1fr);
	  	  grid-gap: 10px;	
            

              overflow: auto;
            
		    scrollbar-width: thin; 
		    scrollbar-color: red green; 
              
            
        }

        .imgs .img-concert img {
		    width: 200px;
		    height: 200px;
            object-fit: cover;

        }
        .img-concert:nth-child(3n) {
            margin-right: 0;
        }
		.contentbox{
			width: 80%
			height : 80%
		}
		.btnList{
			align: right;
		}


