* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    color: #3f464d;
    font-family: 'Spoqa Han Sans Neo', 'Sans-serif';
}

a {
    /* a태그가 가진 프로퍼티를 리셋(예 : 링크를 걸면 폰트색과 글자 밑에 밑줄이 생김)*/
    all: unset;
}

a:link {
    text-decoration: none;
    color: #3f464d;
}

a:visited {
    text-decoration: none;
    color: #3f464d;
}

a:active {
    text-decoration: none;
    color: #3f464d;
}

a:hover {
    text-decoration: none;
    color: #3f464d;
    cursor: pointer;
}

/*
header {
    width: 100%;
    height: 120px;
    background-color: #e4eaf6;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
*/

#inner {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0 2rem;
    /* 요소가 오버되면 오버된만큼만 숨김 또한 hidden은 padding영역에 영향을 받지 않는다.*/
    overflow: hidden;
}

/*
.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container div {
    margin: 0 2rem;
}

.header-container a {
    font-size: 20px;
    font-weight: bold;
}
*/

section {
    width: 1600px;
    background-color: #fff;
}

.side-menu {
    width: 300px;
    height: 1124px;
    margin-top: 120px;
}

.side-menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-logo-img {
    width: 200px;
}

.side-menu-container a {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
}

.side-menu-container .user-logo {
    margin-top: 50px;
}

.side-menu-container div {
    margin-top: 50px;
}

.inner-container {
    width: 100%;
    height: 100%;
    display: flex;
	/*
    margin-top: 100px;
    */
}

.content {
    width: 100%;
    min-height: calc(100% - 100px);
    padding-top: 100px;
    background-color: #fff;
}

.side-menu{
	padding-left: 3rem;
}

/* 내 정보*/
.content-info {
    width: 100%;
    height: 100%;
    padding-left: 5rem;	
}

.info-container {
	width: 80%;
    margin-top: 3rem;
    margin-left: 5rem;
}
.info-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 3px solid #ccc;
    margin: 20px 10px;
}

.info-table th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

table.info-table td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.info-title {
    margin-left: 10px;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
}


.info-container2 {
    margin-top: 7rem;
}


.btn-container{
	display: flex;
	width: 90px;
	height: 40px;
	margin: 0px auto;
}

.info-input{
	border:0 solid black; 
	outline: none;
}

#passwordError{
	display: inline-block;
	color: red;
	margin-left: 1rem;
}

#passwordCheckError{
	display: inline-block;
	color: red;
	margin-left: 1rem;
}

#mail-Check-Btn{
	display: none;
	margin-left: 0.5rem;
	border: 1px solid black;
	border-radius: 3px;
}


.mail-check-input{
	margin-top: 0.5rem;
	display: none;
}

.mail-check-button{
	display: none;
	border: 1px solid black;
	border-radius: 3px;
	
}



#btnGoEdit{
	display: none;
	margin-right: 0.5rem;
}
#btnCancle{
	display: none;
	margin-left: 0.5rem;
}

#btnGoPwEdit{
	display: none;
	margin-left: 0.5rem;
}

#btnPwCancle{
	display: none;
	margin-left: 0.5rem;
}

.phonenumber-input{
	
	border:0 solid black; 
	outline: none;
}

#phonenumberEdit{
	display: none;
	margin-right: 0.5rem;
}

#phonenumberCancle{
	display: none;
	margin-left: 0.5rem;
}

#phonenumber-Check-Btn{
	display: none;
	margin-left: 0.5rem;
	border: 1px solid black;
	border-radius: 3px;
}

.phonenumber-check-box{
	display: none;
	margin-top: 0.5rem;
}

.phonenumber-check-button{
	border: 1px solid black;
	border-radius: 3px;
}

/* register */
.content-register-container {
    width: 100%;
    height: 100%;
}

.register-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 1rem 0;
    padding-left: 10rem;
    overflow: hidden;
}

.register-list li {
    margin: 5rem 1rem;
}

.register-card {
    width: 320px;

    box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);

    /*
    border: 1px solid #3f464d;
    */
    border-radius: 8px;
}

.register-img {
    width: 100%;
    height: 280px;
    border-radius: 8px 8px 0px 0px;
}

.register-info-container {
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
}

.register-lecture-info {
    width: 100%;
    display: flex;
    height: 40px;
    padding-top: 0.5rem;
}


.register-title {
    display : inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    color: #545e6f;
	width: 100%;
    white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
}

.register-address{
   	white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
}

.register-teacher{
	white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
    
}

.register-sports{
    white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
    margin-left: 8rem;
}

/* reservation */
.content-reservation-container {
    width: 100%;
    height: 100%;
    margin-top: 7rem;
    padding-left: 5rem;
}

.content-reservation {
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-reservation div {
    display: inline-block;
}

.content-reservation-title {
	width: 250px;
    font-size: 1.2rem;
    font-weight: bold;
}

.content-reservation-title a{
	padding-left: 5rem;
}

.content-reservation-info div {
	
    display: block;
}

.content-reservation-info{
	width: 300px;
}

.content-reservation-title a{
	padding-left: 5rem;
}

.reservation-title{
	width: 85%;
	font-size: x-large;
	font-weight: bold;
	border-bottom: 3px solid #ccc;
	margin-left: 5rem;
	padding-bottom: 1.5rem;
	
}

/* prev */
.content-prev-container {
    width: 100%;
    height: 100%;
    margin-top: 7rem;
    padding-left: 5rem;
}

.content-prev {
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-prev div {
    display: inline-block;
}

.content-prev-title {
	width: 250px;
    font-size: 1.2rem;
    font-weight: bold;
}

.content-prev-info div {
	
    display: block;
}

.content-prev-info{
	width: 300px;
}

.content-prev-title a{
	padding-left: 5rem;
}


/*
.content-info {
    display: none;
}
*/

.content-register-container {
    display: none;
}


.content-reservation-container {
    display: none;
}

.content-prev-container {
    display: none;
}

.prev-title{
	width: 85%;
	font-size: x-large;
	font-weight: bold;
	border-bottom: 3px solid #ccc;
	margin-left: 5rem;
	padding-bottom: 1.5rem;
	
}


.nav ul {
	padding: 0px;
	margin: 0px;
}

.nav{
	display: block;
}

.check-btn{
	
}

@media screen and (max-width: 1150px) {
	/*
    .health-project {
        display: none;
    }

    .health-search {
        display: none;
    }
    */

    .footer-slogan {
        display: none;
    }
}
